#movieBox{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 0px 1em;
    padding: 0px 2em;
}
#BollyHolly{
    border: 1px solid black;
    border-radius: 2em;
    width: fit-content;
    height: fit-content;
    background-color: darkgray;
}
.boxForLang{
    display: flex;

}
.toggleBoxButton{
    border: none;
}

#bollyButton{
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

#panjButton{
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}

.comBox{
    height: 12px;
}

@media screen and (max-width: 450px) {
    #pagin{
        display: flex;
        justify-content: space-around;
        font-size: 26px;
        padding: 1em 0em ;
        
    }
   
    .boxForLang{
        display: flex;
        width: 100%;

    }
    #comboBoxSelector{
        display: none;
    }
    #koreanButton{
        display: none;
    }
    #movieBox{
        grid-template-columns: auto auto; 
        gap: 0px;
        padding: 0px;
        width: 100%;
    }
    
}